body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(184deg, #3ea6eb, #0e0232);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 20px 30px;
}
.header__title {
  position: relative;
  color: #052e3b;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #3ea6eb;
  margin-bottom: 0;
}

.main {
  margin: 0 auto;
  text-align: center;
}
.main__roles {
  padding-top: 40px;
}

.btn {
  padding: 1px 20px;
}

.form__label {
  font-size: 20px;
  color: #d3e1ea;
  margin-left: 10px;
}